{% extends "./base.html" %}
{% block titulo %}
    {{title}}
{% endblock %}
{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>CONTACTO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}