<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DASHBOARD</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quasi enim laudantium unde, omnis dolorum dolor, ab quidem ipsa nostrum aspernatur ea incidunt sit est alias magni nulla cum vel autem soluta quibusdam? Ex dignissimos aperiam tempora consequuntur ab tenetur facilis, maxime, enim obcaecati dolores aspernatur eaque, labore veritatis mollitia?

    </p>
</body>
</html>