{% extends "./base.html" %}

{% block titulo %}
    {{title}}
{% endblock %}


{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>TIME DISPLAY</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>{{hora}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Actualizar</button>
                </form>
            </div>
            <div class="col">
                <a href="/time_display" class="btn btn-primary">Actualizar</a>
            </div>
        </div>

    </div>
{% endblock %}